.centerDiv {
  text-align: center;
  transform: translateY(-50%);
  top: 50%;
  position: relative;
  height: auto;
  padding-bottom: 150px;
}

#contentTag {
  font-family: "gongli";
  font-size: 35px;
}

#mainBtn {
  font-family: "gongli";
  font-size: 20px;
  padding: 15px 75px;
  background-color: #008299;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  border: none;
  margin-top: 15px;
}

.footer {
  position: relative;
  top: 346px;
}
