
/* header */

#all {
    font-family: 'gong';
    font-size: 20px;
    color :black;
    text-decoration-line: none;
    position: absolute;
    top: 53%;
    left: 32%;
}

#all:hover{
    color: white;
    transition: color 0.2s;
}



/* item */
#wapper {
  width: 90%;
  padding-top: 100px;
  display: flex;
  grid-template-columns: repeat(2, 600px);
  grid-template-rows: minmax(300px, auto);
  /* grid-gap: 100px 160px; */
  align-items: center;
  margin: auto;
  justify-content: center;
}

/* sort */
.listsort{
  float: right;
  position: relative;
  right : 5%;
  padding-right: 20px;
  padding-top: 55px;
  padding-bottom: 15px;
  font-family: 'gongli';
  color: #4f4f4f;
}


/* progress */
.progress{
  background-color: #eee;
  border-radius: 20px;
  height: 20px;
  width: 375px;
}
.progress-done{
  background-color: #008299;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  height:100%;
  width: 0;
  transition: 1s ease;
}
.progress-done span{
  position: absolute;
  font-family: 'gongli';
  right: 0px;
}


