
/* header */

#fundingplan {
    font-family: 'gong';
    font-size: 20px;
    color :black;
    text-decoration-line: none;
    position: absolute;
    top: 53%;
    left: 37%;
}

#fundingplan:hover{
  color: white;
  transition: color 0.2s;
}



/* sort */
.listsort{
  float: right;
  position: relative;
  right : 5%;
  padding-right: 20px;
  padding-top: 55px;
  padding-bottom: 15px;
  font-family: 'gongli';
  color: #4f4f4f;
}


/* funding_plan item */
#wapper.funplan{
  width: 90%;
  padding-top: 100px;
  display: flex;
  grid-template-columns: repeat(2, 600px);
  grid-template-rows: minmax(300px, auto);
  grid-gap: 100px 160px;
  align-items: center;
  margin: auto;
  justify-content: center;
}
.funp {
  display: flex;
  font-family: 'gong';
  font-size: 25px;
  color: #008299;
  justify-content: space-between;
}
.item h2 {
  font-family: 'gong';
  font-size: 28px;
  color: black;
  position: absolute;
  top: 45%;
  left: 37%;
}
.over {
  position: relative;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 420px;
  height: 300px;
  display: block;
  opacity: 0.6;

}
.over:hover {
  border: 2px solid #008299;
}

