
/* best */
#Main_best p{
  position:absolute;
  font-family: 'nanum';
  color: black;
  font-size: 25px;
  padding-top: 35px;
  left: 48%;
}

/* item */
#wapper {
  width: 90%;
  padding-top: 100px;
  display: flex;
  grid-template-columns: repeat(2, 600px);
  grid-template-rows: minmax(300px, auto);
  /* grid-gap: 100px 160px; */
  align-items: center;
  margin: auto;
  justify-content: center;
}

/* progress */
.progress{
  background-color: #eee;
  border-radius: 20px;
  height: 20px;
  width: 375px;
}
.progress-done{
  background-color: #008299;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  height:100%;
  width: 0;
  transition: 1s ease;
}
.progress-done span{
  position: absolute;
  font-family: 'gongli';
  right: 0px;
}

