
/*login*/
.main_login{
    font-family: "nanum";
    font-size: 15px;
    color : black;
    text-decoration: none;
    position: absolute;
    top: 55%;
    left: 85%;
}

.main_signup {
  font-family: "nanum";
  font-size: 15px;
  color: black;
  text-decoration: none;
  position: absolute;
  top: 55%;
  left: 90%;
}

/* main search */
#main_search{
    width: 100%;
    margin-top: 150px;
    margin-bottom: 33px;
    padding-bottom: 20px;
}

#main_search input[type="text"] {
    height: 70px;
    font-family: "nanum";
    border: solid #888 1px;
    border-radius: 35px;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 3px;
    padding-left: 30px;
    padding-right: 30px;
    width: 650px;
    position: relative;
    left: 26%;
    z-index: 1;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
}
#main_search input[type="text"]:focus {
  width: 650px;
  z-index: 1;
  cursor: text;
  left:26%;
  background-color: white;
}
#main_search input[type="submit"] {
    height: 54px;
    width: 45px;
    color: red;
    float: right;
    background: url(./search.svg) no-repeat;
    text-indent: -10000px;
    border: none;
    position: relative;
    right: 22.5%;
    z-index: 1;
    cursor: pointer;
    top: 20px;
}
#main_search input[type="submit"]:hover {
  opacity: 0.4;
}

/* sort */
.listsort{
  float: right;
  position: relative;
  right : 5%;
  padding-right: 20px;
  padding-top: 55px;
  padding-bottom: 15px;
  font-family: 'gongli';
  color: #4f4f4f;
}

/* item */
#wapper{
  width: 90%;
  padding-top: 100px;
  display: flex;
  grid-template-columns: repeat(2, 600px);
  grid-template-rows: minmax(300px, auto);
  /* grid-gap: 100px 160px; */
  align-items: center;
  margin: auto;
  /* justify-content: center;  */
  
}


/* progress */
.progress{
  background-color: #eee;
  border-radius: 20px;
  height: 20px;
  width: 375px;
}
.progress-done{
  background-color: #008299;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  height:100%;
  width: 0;
  transition: 1s ease;
}
.progress-done span{
  position: absolute;
  font-family: 'gongli';
  right: 0px;
}

