@font-face {
    font-family: "gong";
    src: url('../font/ Gothic Medium.ttf');
}

/* 바디 부분 */
h1 {
    text-align: center;
    margin-top: 100px;
    font-family: "gongli";
}

.signup_form {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}
