h1
{
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 40px;
    color: #4a4a4a;
}
#title-name
{
    margin-left: 90px;
    width: 505px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.service-question
{
    position: relative;
    font-family: "gongli";
    left: 350px;
}
#title-size
{
    position: relative;
    font-family: "namun";
    font-size: large;
    width: 1000px;
    height: 500px;
    margin-left: 60px;
    top: 10px;
    resize: none;
}
#label-size
{
    position: relative;
    font-family: "gongli";
    bottom: 475px;
}
#label-size-email
{
    position: relative;
    font-family: "gongli";
    bottom: 25px;
}
#title-size-email
{
    position: relative;
    font-family: "namun";
    font-size: large;
    left: 15px;
    width: 510px;
    height: 30px;
    margin-left: 60px;
    margin-top: 30px;
    bottom: 10px;
}
#button-submit
{
    position: relative;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px 30px;
    background-color: #008299;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    border: none;
    font-family: "gongli";
    font-size: medium;
    margin-top: 80px;
}
#button-category
{
    position: relative;
    left: 380px;
    padding: 15px 30px;
    background-color: #008299;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    color: white;
    font-family: "gongli";
    font-size: medium;
    margin-top: 30px;
    margin-left: 100px;
}
.lineset{
    position: relative;
    top: 30px;
}
#mamber-box
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.mamber-box-position
{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 30px;
}
#answer-question
{
    margin-left: 60px;
    padding: 5px 200px;
}
#answer-question-label
{
    font-family: "gongli";
}